[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qt-material = "*"
toml = "*"
undetected-chromedriver = "*"
pyside6 = "*"
setuptools = "*"
rich = "*"
browsermob-proxy = "*"
m3u8-to-mp4 = "*"
httpx = "*"

[dev-packages]
blue = "*"
isort = "*"
ruff = "*"

[requires]
python_version = "3.12"
